<tr>
  <td><%= user.name %></td>
  <td><%= user.location %></td>
  <td><%= user.title %></td>
  <td><%= user.about_me %></td>
  <td><%= link_to 'Show', controller: "users", action: "show", id: user.id %></td>
</tr>