<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Length:</b>
  <%= @project.length %>
</p>

<p>
  <b>Project type:</b>
  <%= @project.project_type %>
</p>

<p>
  <b>Hometown:</b>
  <%= @project.hometown %>
</p>

<p>
  <b>Details:</b>
  <%= @project.details %>
</p>

<p>
  <b>Startdate:</b>
  <%= @project.startdate %>
</p>

<p>
  <b>Schedule info:</b>
  <%= @project.schedule_info %>
</p>

<b>Needed skills</b>
<ul>
  <% @project.skills.each do |skill| %>
    <li><%= skill.name %></li>
  <% end %>
</ul>

<% if current_user == @project.user %>
	<%= link_to 'Edit', edit_project_path(@project) %> |
<% else %>
	<p>
		<b>Project Owner:</b>
		<%= link_to @project.user.name , controller: "users", action: "show", id: @project.user.id %></td>
	</p>
<% end %>

<% if session[:return_to].include? "/projects/new"  %>
	<%= link_to 'Back to Dashboard', dashboard_home_path  %>
<% else %>
	<%= link_to 'Back', session[:return_to] %>
<% end %>

